body {

  /* max-width: 999px; */
  
  position: relative;
  
  z-index: 1;
  
  margin: 0 auto;
  
  /* height: 100vh; */
  
  line-height: normal;
  }
  
  #speechForm #name {
    display: block;
  }
  .contents {/* position: absolute; *//* left: 50%; *//* top: 50%; *//* transform: translate(-50%, -50%); */}
  
  #front {
  z-index: 1;
  position: absolute;
  background-color: #aca2cc;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: 2s;
  transform-origin: 0;
  }
  .open-card {
  backface-visibility: visible;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(-170deg);
  transition: all 0.8s ease-in-out;
  background-color: rgb(230, 240, 230);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
  }
  
  #front-title {
  color: black;
  font-family: Courier;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  }
  
  #front-pic {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
  }
  
  #inside {/* z-index: 0; *//* position: absolute; *//* background-color: white; *//* width: 100%; *//* height: 100%; *//* text-align: center; */}
  
  #inside-pic {
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
  }
  
  #message {
  color: black;
  font-family: Courier;
  font-size: 2em;
  text-align: center;
  margin-bottom: 40px;
  }
  
  /* .enter-btn {width: 450px;height: 450px;border: 1px solid #28223d;border-radius: 50%;background: #615294;color: white;display: block;margin: auto;transition: all 1s ease;} */
  
  
  .font-fam-curl {
      font-size: 100px;
      display:block
  }
  
  #bodySliding {position: absolute;width: 100%;height: 100vh;z-index: 9;transition: all 1s ease-in-out 1.3s;top: 0;}
  
  
  
  .container{padding:0;}
  
  /* .enter-btn { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 1s ease-in-out ;
  /* } */
  
  .sliding-doors {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #e2e2e2;
  top: 0;
  transition: transform 1s ease-in-out 1s;
  z-index:-1;
  }
  
  .sliding-doors:first-child {
  left: 0;
  }
  
  .sliding-doors:last-child {
  right: 0;
  }
  
  .sliding-doors.open.totheleft {transform: translateX(-100%);}
  .sliding-doors.open.totheright {transform: translateX(100%);}
  
  #bodySliding.fade {
    opacity: 0;
  
    visibility: hidden;
  }
  
  
  #enterbtn.fade {
    top: 0%;
    opacity: 0;
  }
  
  
  /* @media (max-width:768px){

  .enter-btn {
    width: 350px;
    height: 350px;
  }

  .font-fam-curl {
    font-size: 80px;

  }
}


@media (max-width:500px){

  .enter-btn {
    width: 250px;
    height: 250px;
  }

  .font-fam-curl {
    font-size: 35px;

  }
}


@media (max-width:400px){

  .enter-btn {
    width: 200px;
    height: 200px;
  }


  .font-fam-curl {
    font-size: 25px;

  }

}



@media (max-width:300px){

  .enter-btn {
    width: 150px;
    height: 150px;
  }

  .font-fam-curl {
    font-size: 20px;

  }
}

 */
  /* ------------------------------------- */
  /* *. 3 - Pre Loader Styles ............ */
  /* ------------------------------------- */
  .pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    z-index: 10000; }
    .pre-loader .loader {
      width: 2.5em;
      height: 2.5em;
      position: absolute;
      top: calc(50% - 1.25em);
      left: calc(50% - 1.25em);
      -webkit-transform: rotate(165deg);
              transform: rotate(165deg); }
    .pre-loader .loader:before,
    .pre-loader .loader:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0.5em;
      height: 0.5em;
      border-radius: 0.25em;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .pre-loader .loader:before {
      -webkit-animation: before 2s infinite;
              animation: before 2s infinite; }
    .pre-loader .loader:after {
      -webkit-animation: after 2s infinite;
              animation: after 2s infinite; }
  @-webkit-keyframes before {
    0% {
      width: 0.5em;
      box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); }
    35% {
      width: 2.5em;
      box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75); }
    70% {
      width: 0.5em;
      box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75); }
    100% {
      box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); } }
  @keyframes before {
    0% {
      width: 0.5em;
      box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); }
    35% {
      width: 2.5em;
      box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75); }
    70% {
      width: 0.5em;
      box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75); }
    100% {
      box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); } }
  @-webkit-keyframes after {
    0% {
      height: 0.5em;
      box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); }
    35% {
      height: 2.5em;
      box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75); }
    70% {
      height: 0.5em;
      box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75); }
    100% {
      box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); } }
  @keyframes after {
    0% {
      height: 0.5em;
      box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); }
    35% {
      height: 2.5em;
      box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75); }
    70% {
      height: 0.5em;
      box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75); }
    100% {
      box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); } }






      :root {
        --color: #5D5D5D;
        --body: #FFFFFF;
        --color-light: #5D5D5D39;
        --color-med-light: #5D5D5D79;
        --color-nama-pendek: #5D5D5D;
        --font-color: Black;
        --cover-teks-color: Black;
              }
        
              * {
        font-family: 'Raleway', sans-serif;;
              }
        
              .contain {
        border-left: 1px solid #ededed;
        border-right: 1px solid #ededed;
              }
        
              .posisi-cover {
        left: 50%;
        top: 50%;
              }
        
              .body-color,
              .button_utama {
        background-color: var(--color) !important;
              }
        
              .c-utama,
              #timer,
              #timer2 {
        color: var(--color);
              }
        
              .teks-color {
        color: var(--font-color);
              }
        
              .icon {
        fill: var(--color);
              }
        
              .c-cover {
        color: #5D5D5D;
              }
        
              .nama-pendek,
              .dan {
        color: #5D5D5D;
        font-family: 'Dancing Script', cursive;;
        line-height: 1em;
              }
        
              .nama-pendek {
        font-size: clamp(20px, 14vw, 40px);
              }
        
              .dan {
        font-size: clamp(20px, 14vw - 2vw, 30px);
              }
        
              .nama-parents,
              .dan1 {
        font-family: 'Noto Serif', serif;;
        font-size: 18px;
        line-height: 1.3em;
              }
        
              .nama-panjang,
              .dan2 {
        color: var(--font-color);
        font-family: 'Dancing Script', cursive;;
        font-size: 25px;
        line-height: 1.3em;
              }
        
              .bg-nama,
              .gate_bg {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
              }
        
              .bg-nama {
        background-image: url("https://ekaddigital.com/gambar/gambar/pcTZKsnK0H.jpg");
              }
        
              .gate_bg {
        /* background-image: url("https://ekaddigital.com/gambar/gambar/pcTZKsnK0H.jpg"); */
              }
        
              .nota {
        background-color: var(--color-light);
        border: 1px solid var(--color);
        color: var(--color);
              }
        
              #loading-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 9999;
              }
        
              .initial {
        font-family: 'initialStyle1', serif;
        color: #5D5D5D;
        font-size: 150px;
        line-height: 1em;
              }
        
              .calendar__day-selected .calendar__day-box {
        border: 2px solid var(--color-nama-pendek);
              }
        
              .calendar__month,
              .calendar__year,
              .calendar__weekday,
              .calendar__day-selected {
        color: var(--color-nama-pendek) !important;
              }
        
              .ctc,
              .calendar__day-other,
              .calendar__day-text {
        color: var(--cover-teks-color) !important;
              }
        
              .calendar__weekday,
              .calendar__day {
        font-family: 'Raleway', sans-serif;;
        /* font-weight: ; */
        font-size: px;
              }
        
              /* SEPERATOR */
              /* TOP */
              .custom-shape-divider-top-1683648653,
              .custom-shape-divider-top-dua {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
              }
        
              .custom-shape-divider-top-1683648653 svg {
        position: relative;
        display: block;
        width: calc(153% + 1.3px);
        height: 87px;
              }
        
              .custom-shape-divider-top-dua svg {
        position: relative;
        display: block;
        width: calc(160% + 1.3px);
        height: 50px;
              }
        
              .custom-shape-divider-top-1683648653 .shape-fill {
        fill: #FFFFFF90;
              }
        
              .custom-shape-divider-top-dua .shape-fill {
        fill: #FFFFFF;
              }
        
              /* BOTTOM */
              .custom-shape-divider-bottom-1683647660,
              .custom-shape-divider-bottom-dua {
        position: absolute;
        bottom: -1px;
        width: 500px;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
              }
        
              .custom-shape-divider-bottom-1683647660 svg {
        position: relative;
        display: block;
        width: calc(153% + 1.3px);
        height: 87px;
              }
        
              .custom-shape-divider-bottom-dua svg {
        position: relative;
        display: block;
        width: calc(153% + 1.3px);
        height: 50px;
              }
        
              .custom-shape-divider-bottom-1683647660 .shape-fill {
        fill: #FFFFFF90;
              }
        
              .custom-shape-divider-bottom-dua .shape-fill {
        fill: #FFFFFF;
              }
        
              @media only screen and (min-device-width: 250px) and (max-device-width: 812px) {
        .ekad-width {
        border: none;
        }
        
        .contain {
        border: none;
        }
        
        .nama_pendek1 {
        font-size: clamp(20px, 14vw, 60px);
        }
        
        .custom-shape-divider-bottom-1683647660,
        .custom-shape-divider-bottom-dua {
        width: 100%;
        }
        
        .custom-shape-divider-top-1683648653 svg,
        .custom-shape-divider-bottom-1683647660 svg {
        width: calc(150% + 1.3px);
        height: 50px;
        }
        
        .custom-shape-divider-top-dua svg,
        .custom-shape-divider-bottom-dua svg {
        width: calc(150% + 1.3px);
        height: 20px;
        }
              }


